<h1>Search Results</h1>

<% if @posts.empty? %>
  <p>No posts found for this email.</p>
<% else %>
  <% @posts.each do |post| %>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p><%= post.description %></p>
  <% end %>
<% end %>

<%= link_to t('post.back'), root_path %>